# Ignore node_modules and build artifacts
node_modules/
package/node_modules/

# Ignore environment variable files
.env

# Ignore dist directory
package/dist/

# Ignore other common files
.DS_Store
*.log 
